<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decision_aid.mapper.RoleManagementMapper">
  <resultMap id="BaseResultMap" type="com.decision_aid.bean.RoleManagement">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="tea_id" jdbcType="VARCHAR" property="teaId" />
    <result column="rm_name" jdbcType="VARCHAR" property="rmName" />
    <result column="rm_access" jdbcType="VARCHAR" property="rmAccess" />
    <result column="rm_remake" jdbcType="VARCHAR" property="rmRemake" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, tea_id, rm_name, rm_access, rm_remake
  </sql>
  
  <!-- 通过teaId搜索role_management(角色管理表)的数据 -->
  <select id="selectRoleManagementByTeaId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from role_management where tea_id=#{teaId}
  </select>
  
  <!-- 通过teaId修改role_management(角色管理表)的数据 -->
  <update id="updateRoleManagementByTeaId" parameterType="com.decision_aid.bean.RoleManagement">
    update role_management
    <set>
      <if test="rmName != null">
        rm_name = #{rmName,jdbcType=VARCHAR},
      </if>
      <if test="rmAccess != null">
        rm_access = #{rmAccess,jdbcType=VARCHAR},
      </if>
      <if test="rmRemake != null">
        rm_remake = #{rmRemake,jdbcType=VARCHAR},
      </if>
    </set>
    where tea_id = #{teaId,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_management
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_management
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.decision_aid.bean.RoleManagement">
    insert into role_management (Id, tea_id, rm_name, 
      rm_access, rm_remake)
    values (#{id,jdbcType=INTEGER}, #{teaId,jdbcType=VARCHAR}, #{rmName,jdbcType=VARCHAR}, 
      #{rmAccess,jdbcType=VARCHAR}, #{rmRemake,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.decision_aid.bean.RoleManagement">
    insert into role_management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="rmName != null">
        rm_name,
      </if>
      <if test="rmAccess != null">
        rm_access,
      </if>
      <if test="rmRemake != null">
        rm_remake,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teaId != null">
        #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="rmName != null">
        #{rmName,jdbcType=VARCHAR},
      </if>
      <if test="rmAccess != null">
        #{rmAccess,jdbcType=VARCHAR},
      </if>
      <if test="rmRemake != null">
        #{rmRemake,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.decision_aid.bean.RoleManagement">
    update role_management
    <set>
      <if test="teaId != null">
        tea_id = #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="rmName != null">
        rm_name = #{rmName,jdbcType=VARCHAR},
      </if>
      <if test="rmAccess != null">
        rm_access = #{rmAccess,jdbcType=VARCHAR},
      </if>
      <if test="rmRemake != null">
        rm_remake = #{rmRemake,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.decision_aid.bean.RoleManagement">
    update role_management
    set tea_id = #{teaId,jdbcType=VARCHAR},
      rm_name = #{rmName,jdbcType=VARCHAR},
      rm_access = #{rmAccess,jdbcType=VARCHAR},
      rm_remake = #{rmRemake,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>